:root {
    --bg-general: #00486c;
    --bg-claro: #0d7fb8;
    --cl-general: #f0f0f0;
}

.contenedorP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.contenedorP h1 {
    font-size: 2em;
    color: var(--bg-general);
}

.contenedorS div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedorS div a {
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 200px;
    padding: 10px;
    border: 1px solid var(--bg-general);
    border-radius: 5px;
    background-color: var(--bg-claro);
    cursor: pointer;
    text-decoration: none;
}	

.contenedorS div a h3 {
    font-size: 20px;
    color: var(--cl-general);
}

.contenedorS div div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 200px;
    padding: 10px;
    border: 1px solid var(--bg-general);
    border-radius: 5px;
    background-color: var(--bg-claro);
    cursor: pointer;
}

.contenedorS div div form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorS div div form input{
    text-align: center;
    width: 80%;
}