:root {
    --bg-general: #0b668e;
    --bg-claro: #0d7fb8;
    --cl-general: #f0f0f0;
    --cl-btn: #144ba2;
    --bg-btn: #fff;
}

body {
    font-family: 'Arial', sans-serif;
}

#tomarPedido {
    margin: 0;
}

.contenedorG {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 95%;
}

.btn-primary {
    background-color: var(--cl-btn) !important;
    color: var(--bg-btn) !important;
}

.btn-primary:hover {
    background-color: var(--bg-btn) !important;
    color: var(--cl-btn) !important;
    border: var(--cl-btn) !important;
}

/* Estilos cabecera personalizados */
.cabecerax {
    background: linear-gradient(to right, #1a37b1, #028278);
    padding: 10px 15px;
}

/* Botones de cabecera */
.cabecerax .btn {
    background-color: var(--bg-btn);
    color: var(--cl-btn);
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecerax .btn i {
    font-size: 20px;
}

.logoCabecera {
    width: 300px;
    height: auto;
}

/* Menú lateral */
.menu-lateral {
    position: absolute;
    top: 60px;
    right: 10px;
    width: 200px;
    background-color: var(--bg-claro);
    border: 1px solid var(--cl-general);
    border-radius: 8px;
    padding: 10px 0;
    z-index: 999;
}

.menu-lateral .list-group-item {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    color: var(--bg-general);
    text-decoration: none;
}

.menu-lateral .list-group-item:hover {
    background-color: var(--bg-general);
    color: var(--cl-general);
    cursor: pointer;
}
/* fin estilos de cabecera */

.contenedorG h1 {
    color: var(--bg-general);
    font-size: 24px;
    margin: 10px 0 30px 0;
}

#formPedido {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#formPedido div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-self: space-between;
}

.select2-container {
    width: 80% !important;
}

.select2-container .select2-selection--single {
    height: 40px !important;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 20px;
    border-color: #dee2e6 !important;
}

.select2-dropdown {
    max-width: 100% !important;
    width: 100% !important;
    box-sizing: border-box;
    overflow-x: hidden;
}

#tablaPedido {
    margin-top: 15px;
}

.subtitulos {
    color: var(--bg-general);
    font-size: 18px;
    margin: 10px 0;
}

.btndocena {
    width: 100px;
    height: 50px;
}

.input-error {
    border: 2px solid red;
    background-color: #ffe5e5;
}

/* estilos prefactura */
.fila-no-llego td {
    background-color: #ffe6e6 !important;
    color: #b30000 !important;
}

.fila-ok td {
    background-color: #e6fff0 !important;
    color: #2d8a44 !important;
}