:root {
    --bg-general: #00486c;
    --bg-claro: #0d7fb8;
    --cl-general: #f0f0f0;
    --cl-btn: #144ba2;
    --bg-btn: #fff;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.btn-primary {
    background-color: var(--cl-btn) !important;
    color: var(--bg-btn) !important;
} 

.btn-primary:hover {
    background-color: var(--bg-btn) !important;
    color: var(--cl-btn) !important;
    border: var(--cl-btn) !important;
}

/* Estilos cabecera personalizados */
.cabecerax {
    background: linear-gradient(to right, #1a37b1, #028278);
    padding: 10px 15px;
}

/* Botones de cabecera */
.cabecerax .btn {
    background-color: var(--bg-btn);
    color: var(--cl-btn);
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecerax .btn i {
    font-size: 20px;
}

.logoCabecera {
    width: 300px;
    height: auto;
}

/* Menú lateral */
.menu-lateral {
    position: absolute;
    top: 60px;
    right: 10px;
    width: 200px;
    background-color: var(--bg-claro);
    border: 1px solid var(--cl-general);
    border-radius: 8px;
    padding: 10px 0;
    z-index: 999;
}

.menu-lateral .list-group-item {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    color: var(--bg-general);
    text-decoration: none;
}

.menu-lateral .list-group-item:hover {
    background-color: var(--bg-general);
    color: var(--cl-general);
    cursor: pointer;
}

/* fin estilos de cabecera */

/*Estilos crearCliente */
.ccContenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ccDivCliente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.formCliente {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 95%;
}

/*Estilos verProductos */
.productosContenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.productosDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 90%;
}

.clienteContenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.divClientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 90%;
}

.historialContenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.divHistorial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 90%;
}

.modalProducto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 370px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    transform: translateY(-20px);
    border: 1px solid var(--bg-general);
}

dialog:not([open]) {
    display: none;
}

/*Estilos ordenCompra */
select[multiple]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}